
.title h1 {
  display: grid;
  place-items: center;
  font-family: "Archivo Black";
  text-align: left;
  color: #454545;
  font-size: 64px;
}

.rect-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5rem;

}

.rect-item {
  height: 40px;
  width: 40px;
  background-color:  #ED9AB6;
  text-align: center;
  margin-right: 1rem;
}

.p1-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2rem;
}

.img1 {
  width: 50%;
  margin-left: auto;
}

.p1-description {
  margin-right: auto;
}

.img2 {
  width: 50%;
  margin-right: auto;
}

.p2-description {
  margin-left: auto;
}

.p1-btn {
  color: #DA627D;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}