
.nav-grid {
    font-family: 'DM sans';
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    color: #454545;
    font-size: 1rem;
}

  .ul-grid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

.rectangle {
    height: 40px;
    width: 40px;
    background-color: #ED9AB6;
    margin-right: 1rem;
}

.brandline {
    margin-right: auto;
    text-align: left;
}


ul a{
    color: #454545;
    padding: 1rem;
    text-decoration: none;
}

ul a:hover{
    color: #ED9AB6;
    -webkit-transition: 200ms;
}

